// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.header {
    background-color: #9BB8CC;
    color: #f8fafc;

    .headline {
        font-size: 60px;
    }

    .subline {
        font-size: 20px;
        font-style: italic;
    }

    .head-carousel {
        letter-spacing: 2px;
        font-size: 20px;
    }
}

.overview {
    color: #6B7F8C;
    background-color: #f8fafc;
    font-size: 20px;

    .quote {
        font-weight: bold;
        font-style: italic;
    }

    .card {
        height: auto;
    }

    .card-title {
        font-weight: bold !important;
    }
}

.services {
    background-color: #9BB8CC;
    color: #6B7F8C;
    font-size: 15px;

    .headline {
        font-size: 40px;
        color: #f8fafc !important;
    }

    .card-title {
        font-weight: bold !important;
        font-size: 25px;
        align-items: center;

        .col {
            overflow-wrap: anywhere;
        }
    }

    .card-title-small {
        font-weight: bold !important;
        font-size: 20px;
        align-items: center;
    }
    
    a {
        color: #6B7F8C;
    }

    .h6 {
        font-size: 19px!important;
    }
}